body {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.charts-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}

#chart {
  height: 396px;
}

#chart .dxc-title {
  transform: translate(20px, 20px);
}

#chart .dxc-legend{
  transform: translate(-30px, -85px);
}

#gridTitle {
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #E5E5E5;

}

#datagrid {
  height: 92.6%;
}

#datagrid .dx-datagrid-total-footer {
  background-color: #F5F5F5;
  width: 85%;
  height: 30px;
  margin-left: 45px;
  margin-bottom: 40px;
  border: none;
}

#datagrid .dx-datagrid-summary-item {
  width: 300px;
  text-align: center !important;
  margin-top: -5px;
  margin-left: -40px;
  font-size: 12px;
}

.dx-row.dx-header-row,
.dx-row.dx-data-row {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 500;
  color: #999999;
  background-color: white;
}

#bar-chart {
  height: 396px;
}

#bar-chart .dxc-title {
  transform: translate(20px, 20px);
}

#bar-chart .dxc-legend{
  transform: translate(-25px, -65px);
}